* {
    margin: 0;
    padding: 0;
}

/* Fonts, styles & colors */
.font-main {
    font-family: "Open Sans", sans-serif;
}

.font-pop {
    font-family: "Poppins", sans-serif;
}

.font-bold {
    font-weight: 500;
}

.calculator {
    position: absolute;
    background-color: powderblue;
    border-style: solid;
    border-width: 1px;
    border-color: cornflowerblue;
    border-radius: 5%;
    padding: 25px;
}

.calc-border {
    border-width: thin;
    border-style: solid;
    border-color: lightgrey;
    margin: 0;
}

.textview {
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: right;
    color: white;
    width: 411px;
    height: 60px;
    margin: 0 0 -3px 2px;
    font-size: 72px;
    padding: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.btn-white {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    width: 120px;
    height: 100px;
    font-size: 48px;
    margin: -5px -5px -10px 0;
    cursor: pointer;
}

.btn-grey {
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    width: 120px;
    height: 100px;
    font-size: 48px;
    margin: 0 -5px -5px 0px;
    cursor: pointer;
}

.big-btn {
    background-color: coral;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    width: 118px;
    height: 389px;
    font-size: 48px;
    margin: 1px -5px -4px 2px;
    cursor: pointer;
    border-bottom-right-radius: 15px;
}

.bg {
  background-color: antiquewhite;
}

.btn-shape {
    border-bottom-left-radius: 15px;
}
